@using INTEREST.WEB.ViewModels
@model CreateMessageViewModel

@{
    ViewData["Title"] = "Create Message";
}

<h6> @Html.DisplayNameFor(model => model.MessageText) </h6>

<hr>

<form asp-controller="Message" asp-action="CreateMessage" asp-route-event_id="@Model.EventId" method="post">

    <div class="form-group">
        <input type="hidden" asp-for="EventId" value="@Model.EventId" />
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            
            <textarea asp-for="MessageText" rows="8" class="form-control" placeholder="your message" required autofocus ></textarea>
        </div>
    </div>

    <hr>

    <button type="submit" class="btn btn-sm btn-warning">
        Create Message
    </button>

</form>