@using INTEREST.DAL.Entities
@model List<Category>
@{
    ViewData["Title"] = "Categories";
}

<link href="~/css/CheckBox.css" rel="stylesheet" />
<h2>Categories</h2>

<form asp-controller="Admin" asp-action="AddCategory" method="post">
    <div class="form-group">
        <label for="name">New Category</label>
        <input name="title" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add new category</button>
</form>

<hr>

<h4>List of Categories</h4>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <form asp-action="DeleteCategory" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>