@{
    ViewData["Title"] = "Index";
}

    <h3>Admin Tools</h3>
    <br>

    <div class="list-group">
        <a class="list-group-item list-group-item-action"
           asp-area="" asp-controller="Admin" asp-action="Users">USERS</a>
        @*<a class="list-group-item list-group-item-action"
           asp-area="" asp-controller="Admin" asp-action="Roles">ROLES</a>*@
        <a class="list-group-item list-group-item-action"
           asp-area="" asp-controller="Admin" asp-action="Categories">CATEGORIES</a>
    </div>